.unstyled-button {
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-text-instance-1 {
  height: 55%;
  flex-basis: 70%;
}
