.table-footer {
  color: #111827;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: Inter, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 20px;
  display: flex;
}

.rows-per-page {
  color: #6b7280;
  margin-top: 1px;
}

.num-10 {
  margin-left: 10px;
  line-height: 19px;
}

.fillednavigationarro {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-left: 1px;
}

.num-1-10-of-100 {
  margin-left: 27px;
}

.navigation {
  width: 88px;
  height: 40px;
  object-fit: cover;
  margin-left: 27px;
}
