.warbots-reports {
  color: #e1dfec80;
  width: 100%;
  height: 100%;
  background-color: #000;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: DM Sans, Arial;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.left-sidebar-instance-1 {
  height: 100%;
  margin-right: -178px;
}

.image-3 {
  height: 100%;
  background-image: url("/src/assets/image3.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  flex-basis: 63%;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: -452px;
  padding-top: 14px;
  padding-left: 26px;
  padding-right: 14px;
  display: flex;
}

.flex-container {
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  display: flex;
}

.flex-container-1 {
  height: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 9px;
  display: flex;
}

.dashboard-reports {
  font-size: .875rem;
}

.reports {
  text-transform: uppercase;
  color: #eee798;
  margin-left: 1px;
  font-weight: 700;
  line-height: 36px;
}

.image-2 {
  width: 327px;
  height: 185px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.card {
  width: 85%;
  background-color: #ccc;
  border-radius: 8px;
  flex-direction: column;
  flex-basis: 48%;
  justify-content: flex-start;
  align-self: center;
  align-items: stretch;
  display: flex;
}

.tr {
  width: 100%;
  background-color: #3db8bc;
  border-radius: 8px;
  flex-direction: row;
  flex-basis: 11%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-header-instance-1 {
  height: 100%;
  flex-basis: 20%;
}

.table-header-1-instance, .table-header-2-instance-1 {
  height: 100%;
  flex-basis: 27%;
}

.table-header-3-instance {
  height: 100%;
  flex-basis: 27%;
  margin-left: 1px;
}

.flex-container-2 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-instance-1 {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-1-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-2-instance, .table-cell-3-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.flex-container-3 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-4-instance {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-5-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-6-instance, .table-cell-7-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal-1 {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.flex-container-4 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-8-instance {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-9-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-10-instance, .table-cell-11-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal-2 {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.flex-container-5 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-12-instance {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-13-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-14-instance, .table-cell-15-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal-3 {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.flex-container-6 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-16-instance {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-17-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-18-instance, .table-cell-19-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal-4 {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.flex-container-7 {
  width: 100%;
  flex-direction: row;
  flex-basis: 12%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.table-cell-20-instance {
  height: 100%;
  flex-basis: 20%;
}

.table-cell-21-instance {
  height: 100%;
  flex-basis: 28%;
}

.table-cell-22-instance, .table-cell-23-instance {
  height: 100%;
  flex-basis: 26%;
}

.divider-horizontal-5 {
  width: 740px;
  height: 1px;
  object-fit: cover;
}

.table-footer-instance-1 {
  width: 100%;
  flex-basis: 13%;
}

.right-sidebar-instance-1 {
  height: 100%;
  flex-basis: 31%;
  margin-left: 137px;
}
