.warbots-mint-humme {
  color: #eee798;
  width: 100%;
  height: 100%;
  background-color: #000;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: DM Sans, Arial;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 36px;
  display: flex;
}

.right-sidebar-instance-1 {
  height: 100%;
  flex-basis: 31%;
  margin-left: 360px;
  margin-right: -1551px;
}

.left-sidebar-instance-1 {
  height: 100%;
  margin-left: -307px;
  margin-right: -268px;
}

.image-3 {
  height: 100%;
  background-image: url("/src/assets/image3.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  flex-basis: 63%;
  justify-content: flex-start;
  align-items: center;
  margin-left: -615px;
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 32px;
  display: flex;
}

.flex-container {
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.flex-container-1 {
  height: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 8px;
  display: flex;
}

.dashboard-mint {
  color: #e1dfec80;
  font-size: .875rem;
  font-weight: 400;
  line-height: 18px;
}

.mint {
  text-transform: uppercase;
  margin-left: 1px;
}

.image-2 {
  width: 327px;
  height: 185px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.flex-container-2 {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 12px;
  display: flex;
}

.rectangle-18, .rectangle-23 {
  width: 255px;
  height: 255px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.group-34 {
  width: 255px;
  height: 255px;
  object-fit: cover;
  margin-left: 2px;
}

.button-instance {
  width: 25%;
  flex-basis: 6%;
  margin-bottom: 14px;
}

.flex-container-3 {
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.rectangle-21, .rectangle-25 {
  width: 255px;
  height: 255px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
